@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --hero: 270 68% 38%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.3rem;
    --border-width: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  body.mobile-nav-active {
    overflow: hidden;
  }
  input,
  button {
    border-radius: 0.3em;
  }
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: hsl(var(--foreground));
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger {
    padding: 5px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger .line:nth-child(1) {
    height: 2px;
  }

  .hamburger.is-active .line:nth-child(1) {
    height: 2px;
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
  }
  .custom-scrollable-element {
    cursor: auto;
  }
  .custom-scrollable-element::-webkit-scrollbar {
    width: 0.4rem;
  }
  .custom-scrollable-element::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .custom-scrollable-element::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-muted-foreground/20;
  }

  .custom-scrollable-element::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/40;
  }
}
.ProseMirror:focus {
  outline: none;
}
.ProseMirror {
  padding: 20px;
}

.tiptap {
  > * + * {
    margin-top: 1.75em;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-neutral-200;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ul {
    list-style-type: initial;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
/* .scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-muted-foreground/10;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-[2px] bg-muted-foreground/30;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-muted-foreground/20;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  @apply bg-muted-foreground/40;
} */

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
